<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="wcfCnStr" connectionString=""/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="EmployeesService.EmployeesService">
                <endpoint address="EmployeesService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="EmployeesService.IEmployeesService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>